# Created by https://www.gitignore.io/api/jetbrains

### JetBrains ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea
.idea/
.idea/workspace.xml
.idea/tasks.xml

# Sensitive or high-churn files:
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/ant.xml

# Gradle:
.idea/gradle.xml
# cmt by bo .idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### JetBrains Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# End of https://www.gitignore.io/api/jetbrains

#.idea/dbnavigator.xml
/target/
/build/
/build_tools/
/classes/
Thumbs.db

src/navi/client/matrix/adapter/

etc/adapters.jar
etc/navilab-entity-client.jar
etc/navi-ejb3.jar
etc/navi-resources.jar
etc/navi_client.jar
etc/navi-tools.jar
etc/release/changed/
etc/release/*.jar
etc/MessageBundle_en_US.properties
etc/MessageBundle_ru_RU.properties
etc/prime-common*

wn_lm_last.lst
*.s3db
*.s3db-journal
gsfile.txt
/test/files/*.tmp.*
advice_hide.cfg
/plugins/
#/lib/internal/navilab/*-src.zip

#.idea/encodings.xml
.idea/kotlinc.xml
.idea/vcs.xml
mapv3test.png
layout.data
my-logging.properties
navi.log*
navi-prefs.ini
etc/release/*_deploy.ftp

# Excel-files
*.xls
*.xlsx

# logs
logs/
*.log